header{
background-color: blanchedalmond;
text-align: center;
margin-top: 5%;
margin-bottom: 5%;
}
form
{
border: 3px solid black;
margin: 3%;
padding: 5%;
display: inline-block;
}
form label
{
    padding: 5%;
    display: inline-block;
}
form input{
    display: inline-block;
}
.salary
{
   
}
.submitbutton
{
    text-align: center;
}